# Locating elements and their indexes in numpy & Pandas

Let's say you have a numpy array like this:

In [138]:
import numpy as np

arr = np.array([['id','age','sex'],[32214,42,'F'],[32215,15,'M']])

In [139]:
print(arr)

[['id' 'age' 'sex']
 ['32214' '42' 'F']
 ['32215' '15' 'M']]

If you want to find the element inside the array, providing an index for it - this is a little bit similar to finding an element in lists of lists.  

In this case, you can type arr[coordinates for x(line) and y(column)]:

In [140]:
arr[1,1]

'42'

If you want to find the index of a specific value on a numpy array, you can use `np.where`:

In [141]:
np.where(arr == 42)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """Entry point for launching an IPython kernel.

(array([], dtype=int64),)

Why this isn't working?  

It's because numpy transforms all data for the same type (look at the numbers, they are strings inside `arr`!

Let's try again, finding the string '42':

In [142]:
np.where(arr == '42')

(array([1]), array([1]))

Now we have it!  We know that the age '42' is in the second row `array([1])`, and second column `array([1])` in our array `arr`.

# And in Pandas, how can we do this?

Now, let's convert our numpy array to a Pandas Dataframe:

In [143]:
import pandas as pd

In [144]:
df = pd.DataFrame(arr[1:],columns=arr[0])
df

      id age sex
0  32214  42   F
1  32215  15   M

What happens if we try to apply the same method as we used with the numpy array?  Weird...

In [163]:
df.where(df == '42')

    id  age  sex
0  NaN   42  NaN
1  NaN  NaN  NaN

Fortunately, Pandas has special methods to find elements in dataframes:

`.loc()` will return the index coordinates for the item you are trying to find. And...

`.iloc()` will return the item allocated in the coordinates you provided to Python:

In [133]:
df.iloc[0,1]

'42'

So `df.iloc` is showing us that, in the first row (0) and second column (1) in our dataframe `df`, we will find '42'.

And `df.loc` will locate the row in the dataframe where age is '42':

In [164]:
df.loc[df.age == '42']

      id age sex
0  32214  42   F

Now, we found that the person with `age` `42` is in the first row (index = 0) of our dataframe `df`.